<h1>Login</h1>

<%= form_with(url: login_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Login" %>
  </div>
<% end %>

<%= link_to 'Sign up', new_user_path %>
