<div class="card">
  <div class="card-header">
    <h1><%= @topic.title %></h1>
  </div>
  <div class="card-body">
    <% if @topic.user %>
      <p><strong>Created By:</strong> <%= @topic.user.full_name %></p>
      <p><strong>Date Created:</strong> <%= @topic.created_at.to_s(:long) %></p>
      <p><strong>Target Meeting Date:</strong> <%= @topic.target_meeting_date %></p>
      <p><strong>Description:</strong> <%= @topic.description %></p>
      <p><strong>Votes:</strong> <%= @topic.votes.count %></p>

      <% if user_signed_in? %>
        <% existing_vote = @topic.votes.find_by(user: current_user) %>
        <% if existing_vote %>
          <%= button_to 'Remove Vote', topic_vote_path(@topic, existing_vote), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= form_with(model: [@topic, @topic.votes.new], local: true) do |form| %>
            <%= form.submit 'Vote', class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      <% end %>

      <% if @topic.user == current_user %>
        <%= link_to 'Edit', edit_topic_path(@topic), class: 'btn btn-warning' %>
        <%= link_to 'Delete', topic_path(@topic), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% end %>
    <% else %>
      <p>Creator information not available.</p>
    <% end %>
  </div>
</div>
