<h1>Pending Users</h1>

<% @users.each do |user| %>
  <p>
    <%= user.full_name %> - <%= user.role %> - <%= user.email %>
    <%= button_to "Approve", approve_company_user_path(@company, user), method: :patch %>
    <%= button_to "Delete", company_user_path(@company, user), method: :delete %>
  </p>
<% end %>
